.containerHeaderCategory{
    max-width: 768px;
    min-width: 320px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: honeydew;
    height: 4vw;

}
.buttonCategory{
    border: none;
    background-color:honeydew;
    height: 100%;
    width: 20%;
}
.buttonCategory:hover{
    background-color: chocolate;
}