.header{
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vw;
    background-color: turquoise;
}

.iconBar{
    width: 2vw;
}

.iconP{
    color: #F6F4B0;
    font-size: 55px;
    font-weight:bolder;

}

.iconCart{
    width: 3vw;

}
@media screen and (min-width:320px) and (max-width:768px) {
    .header{
        height: 70px;
    }
    .iconBar, .iconCart{
        width: 30px;
    }
}